fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
pydantic-settings
python-dotenv
bcrypt==3.2.2
email-validator
PyJWT
alembic
python-multipart
pypdf
python-docx
langchain
langchain-chroma
langchain-huggingface
langchain-openai
langchain-text-splitters
chromadb
sentence-transformers
httpx
cryptography
passlib>=1.7.4
